spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
  h2:
    console:
      enabled: true
      path: /h2-console
  batch:
    job:
      enabled: on
    jdbc:
      initialize-schema: embedded

logging:
  level:
    org.springframework.batch: debug
